@font-face {
    font-family: Nunito;
    src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
}

*{
    
    color: rgb(235, 235, 235);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Nunito;
}
body{
    background-color: rgb(9, 29, 0);
}

header{
    width: 100%;
    z-index: 2;
    
}

.back-img{
    width: 100%;
    height: 100vh;
} 


.nav-bar{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    margin: auto;
    position: fixed;
    z-index: 1;
}




.logo
{
    display: flex;
    margin-left: 10%;
    width: 50%;
    top: 0;
}

.logo h1{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.site-nav{
    margin: auto 10px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enlaces-menu{
    display: flex;
}

.enlaces-menu li{
    margin:auto 30px;
    text-decoration: none;
    font-size: 1.5rem;
}



.enlaces-menu li:hover{
    border-bottom: 3px solid chocolate;
    padding-bottom: 10px;
    transition: 0.3s;
}




.hamburger{
    display: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.hamburger span{
    display: block;
    background-color: white;
    height: 3px;
    width: 35px;
    margin: 10px auto;
    border-radius: 2px;

}


.container-header
{
    margin:auto;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45vh;
    
}


.container-header div
{
    /* border: 1px solid; */
    width: 50%;
    height: 100;
}

.contact
{
    /* border: 1px solid; */
    width: 50%;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.219);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 15px 2px rgba(36, 36, 36, 0.795);
}

.contact-title{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-title h2{
    text-transform: uppercase;
    font-size: 3rem;
    color: black;
    border-bottom: 1px solid black;
    padding: 10px 30px ;
} 

.container-contact{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-contact input{
    width: 30%;
    height: 5vh;
    margin: 0 5%;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 2px;
    background-color: transparent;
    color: black;
    outline: none;
}

.container-contact input::placeholder{
    color: black;
   padding-left: 10px;
}


.container-contact input:focus{
    border: 1px solid
}

.container-contact textarea{
    width: 70%;
    height: 20vh;
    border: 1px solid black;
    background-color: transparent;
    outline: none;
    color: black;
    font-size: 1.2rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}



.container-contact textarea::placeholder{
    color: black;
    text-align: center;
}


.btn-contact{
    width: 35%;
    height: 5vh;
    color: black;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
}

.btn-contact:hover{
    background-color: chocolate;
    color: white;
}

#error{
    width: 70%;
}

/*   ===   MENU HAMBURGUESA   ===*/
@media (max-width: 450px ),
(max-width:768px){
     
    .hamburger{
        display: block;
        position: absolute;
        right: 25px;
        top: 5px;
        transition: 0.2s 0.1s;
    }

    .hamburger:hover{
        transform: rotate(360deg);
    }

    .hamburger:focus { outline: none; }

    #mynav{
        width: 100%;
    }
    .site-nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        width: 100%;
    }
    
    .enlaces-menu{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
        display: none;
        opacity:0;
        background-color: black;
    }

    .enlaces-menu li{
        width: 100%;
        text-align: center;
    }

    @keyframes muestaMenu{
        from{opacity:0;}
        to{opacity:1;}
    }

    .enlaces-menu.activado{
        display: flex;
        animation: muestaMenu 500ms ease-in-out both;
    }

    .br-1.animado{
        transform: rotate(-45deg) translate(-10px, 8px);
    }

    .br-2.animado{
        opacity: 0;
    }

    .br-3.animado{
        transform: rotate(45deg)  translate(-10px, -8px);
    }


    .logo{
        margin: 15px 30px;
        padding: auto;
        position: fixed;
        z-index: 1;
    }

  
}


@media (min-width: 451px) and (max-width: 769px){

    .container-header .contact{
        width: 90%;
    }

    input, textarea, button{
        font-size: 1.5rem;
    }

}

@media (max-width: 450px ){

    .container-header .contact{
        width: 90%;
        height: 90vh;
    }

    .contact-title h2{
        font-size: 2.2rem;
        margin-bottom: 0;
    }

    .container-contact input, .container-contact textarea, .container-contact button{
        font-size: 1.2rem;
        font-weight: 600;
        width: 80%;
    }

    .container-contact input{
        width: 70%;
        margin: 1vh 0;
    }


}