@font-face {
    font-family: Nunito;
    src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
}

*{
    
    /* color: rgb(235, 235, 235); */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Nunito;
}
body{
    background-color: #e4e3e3;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    
    
}

.back-img{
    width: 100%;
    height: 80vh;
} 


.nav-bar{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: auto;
    
    transition: 0.7s all ease;
}




.logo
{
    display: flex;
    margin-left: 10%;
    width: 50%;
    top: 0;
}

.logo h1{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #f5f5f5;
}

.site-nav{
    margin: auto 10px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enlaces-menu{
    display: flex;
}

.enlaces-menu li{
    margin:auto 30px;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

.enlaces-menu li a{
    color: white;
}



.enlaces-menu li:hover{
    border-bottom: 3px solid chocolate;
    padding-bottom: 10px;
    transition: 0.3s;
}

.hamburger{
    display: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.hamburger span{
    display: block;
    background-color: #f5f5f5;
    height: 3px;
    width: 35px;
    margin: 10px auto;
    border-radius: 2px;

}

.container-header
{
    margin:auto;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0%;
    top: 10vh;
    /* background: red; */
}

.container-header div
{
    /* border: 1px solid; */
    width: 50%;
    height: 100;
}


#home{
    width: 100%;
    height: 100vh;
    background-image: url(img/cafe3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#home img{
    width: 60px;
    position: relative;
    top: 80%;
    left: 50%;
    animation: rebote .6s alternate infinite;
}

@keyframes rebote{
    0%{
        transform: translateY(30%);
    }
    100%{
        transform: translateY(0%);
    }
}





#info{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info h2{
    color: chocolate;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 10vh;
}

#info h2 span{
    color: #333333;
}

#info p{
    font-size: 2rem;
    color: #333333;
    width: 80%;
    text-align: center;
}




#cafeto{
    width: 100%;
    height: 100vh;
    background-image: url(img/cafe2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cafeto h2{
    color: #f5f5f5;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10vh;
}

#cafeto p{
    color: #f5f5f5;
    font-size: 2rem;
    text-align: center;
    width: 80%;
    font-weight: 600;
}

#latte-art{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.latte-art-img{
    width: 40%;
    height: 70%;
    background-image: url(img/cafe4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.latte-art-text{
    width: 40%;
    height: 70%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.latte-art-text p{
    text-align: center;
    font-size: 1.2rem;
}





#products
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7vh;

}

#products h2{
    color: #1a1a1a;
    font-size: 3rem;
    margin: 0;
}

.cards{
    width: 90%;
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 30%;
    height: 80%;
    margin: auto 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(214, 214, 214);
    transition: all .5s ease-in-out;
}

.card:hover{
    transition: all .5s ease-in-out;
    border: 1px solid #5a5a5a;
    background-color: rgb(218, 218, 218);
}

.card-img{
    margin-left: 40%;
    margin-top: 5vh;
    width: 50%;
}


.card-img img{
    width:100%;
    /* background-color: black; */
    margin: auto;
}

.card-info{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.card-info h4{
    font-size: 2.2rem;
    text-transform: uppercase;
}


.card-info p{
    font-size: 1.2rem;
}

.card-info p:nth-last-child(2){
    font-size: 2.2rem;
    color: chocolate;
}

.card-info p:nth-last-child(1){
    margin-bottom: 4vh;
}




#carrousel{
    width: 100%;
    height: 70vh;
}

.container-carrousel{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-previous, .btn-next{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: calc(50%-10px);
    cursor: pointer;
    line-height: 0px;
    text-align: center;
    color: rgb(59, 59, 59);
    opacity: 50%;
    font-size: 2.2rem;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.btn-previous:hover, .btn-next:hover{
    opacity: 100%;
    color: chocolate;
}

.btn-previous{
    left: 40px;
}

.btn-next{
    right: 40px;
}

.carrousel__lista{
    width: 90%;
    overflow: hidden;
    
}

.carrousel__lista img{
    width: 40%;
}


.carrousel__indicadores .glider-dot{
    display: block;
    width: 30px;
    height: 4;
    background: rgb(56, 56, 56);
    opacity: .2;
    border-radius: 0;
}

.carrousel__indicadores .glider-dot:hover{
    opacity: .7;
}

.carrousel__indicadores .glider-dot.active{
    opacity: 1;
    background: chocolate;
}












#sucursales{
    width: 97%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sucursales{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-sucursales img{
    width: 20%;
}

.container-sucursales h2{
    font-size: 2rem;
}

.container-sucursales p{
    font-size: 2rem;
    color: #d2691e;
}

.mapa-caba{
    width: 60%;
    height: 100%;
}

.mapa-caba iframe{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 30px;
}

footer{
    width: 100%;
    height: 10vh;
    background-color: black;
    color: #f5f5f5;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    width: 15%;
}





/* ======================= 
    COMIENZA EL RESPONSIVE 
======================== */




/*   ===   TABLET   ===*/
@media (min-width: 451px) and (max-width: 768px){
    .back-img{
        width: 100%;
        height: 60vh;
    } 

    .cards{
        width: 90%;
        flex-wrap: wrap;
    }

    .card{
        width: 40%;
        margin: 20px;
    }

    .container-btn-procucts{
        margin-top: 62vh;
        width: 100%;
        height: 15vh;
    }

}


/*   ===   MENU HAMBURGUESA   ===*/
@media (max-width: 450px ),
(max-width:768px){
     
    .menu
        {
            top:0;
            right: 0;
            margin-top: 4vh;
            width: 100%;
            height: 100vh;
            position: absolute;
            background-color: #333333;
            clip-path: circle(0px at top right);
            transition: clip-path ease-in-out 700ms;
            display: flex;
            justify-content: space-between;
        }
    
        .site-nav-open
        {
        clip-path: circle(150% at top right);
        
        }
    
        .menu ul{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    
        .menu li{
            font-size: 1.5rem;
            margin: 7vh auto;
        }
    
        .menu-toggle{
            padding: 1rem;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 1vh;
        }
    
        .menu-open .hamburger
        {
            transform: rotate(45deg);
        }
    
        .menu-open .hamburger::before
        {
            opacity: 0;
        }
    
        .menu-open .hamburger::after
        {
            transform: translateY(-3px) rotate(-90deg);
        }
    
        .hamburger,
        .hamburger::before,
        .hamburger::after
        {
            content: '';
            display: block;
            background-color: rgb(235, 235, 235);
            height: .2rem;
            width: 2em;
            border-radius: 3px;
            transition: all ease-in-out 500ms ;
        }
    
        .hamburger::before
        {
            transform: translateY(-6px);
            
        }
    
        .hamburger::after
        {
            transform: translateY(3px);
        }

}

@media  (max-width: 450px){

    
    header{
        width: 80%;
        height: 10vh;
        position: sticky;
        background-color: #333333;
        overflow: hidden;
        position: fixed;
        max-width: 450px;
        
    }

    

    #site-nav{
        width: 100%;
    }

    
    .nav-bar ul{
        width: 80%;
        position: fixed;
        flex-direction: column;
        margin: 0;
    }

    .logo{
        margin: 0;
        margin-left: 30px;
    }

    .logo h1{
        font-size: 1.2rem;
        z-index: 3;
    }

    #home{
        width: 100%;
        height: 30vh;
        background: none;
    }

    #home img{
        width: 10%;
    }

    #info h2, span{
        width: 100%;
        overflow: hidden;
        margin-top: 90vh;
        color: black;
    }

    #cafeto{
        width: 100%;
        background: none;
    }

    #latte-art{
        flex-direction: column;
    }

    #cafeto p,
    #info p{
        color: #1a1a1a;
        font-size: .5rem;
    }
    

    

    .back-img{
        height: 50vh;
    }

    #products{

        margin: 5vh;
    }

    #sucursales{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .container-sucursales{
        width: 100%;
        margin: 0;
    }

    .mapa-caba {
        width: 90%;
        height: 50vh;
    }

}